</div>
</div>
</div>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Chart.js -->
<script src="/js/chart.min.js"></script>
<!-- Admin Script -->
<script src="/js/admin.js"></script>

<script>
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('.sidebar').toggleClass('active');
    });
});
</script>
</body>
</html>